
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <img src="@ViewBag.goods.GoodsImg" style="position:relative;top:200px;left:200px" />
    </div>
    <table>
        <tr>
            <td>
                <div> @ViewBag.goods.GoodsName</div>
                <div>@ViewBag.goods.GoodsDegree</div>
                <div>@ViewBag.goods.AromaName</div>
                <div>产地： @ViewBag.goods.PlaceName</div>
                <div>品牌： @ViewBag.goods.BrandName</div>
                @if (ViewBag.conllect == 1)
                {
                    <a>已收藏</a>
                }
                else
                {
                    <a>未收藏</a>
                }
            </td>
        </tr>

    </table>
    <br />    <br />    <br />    <br />

    @foreach (var item in ViewBag.imgs)
    {
        <img src="@item.pictureUrl" alt="" />
    }
    <input id="Button1" type="button" value="添加到购物车" />
</body>
</html>
