
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div>
        <img src="@ViewBag.goods.GoodsImg" style="position:relative;top:200px;left:200px" />
    </div>
    <table>
        <tr>
            <td>
                <div> @ViewBag.goods.GoodsName</div>
                <div>@ViewBag.goods.GoodsDegree</div>
                <div>@ViewBag.goods.AromaName</div>
                <div>产地： @ViewBag.goods.PlaceName</div>
                <div>品牌： @ViewBag.goods.BrandName</div>
                @if (ViewBag.conllect == 1)
                {
                    <img src="~/images/xin1.png"  class="isConllect"/>
                    @*<input id="Button1" type="button" value="已收藏" class="isConllect" />*@

                }
                else
                {
                    <img src="~/images/xin2.png"  class="isConllect"/>
                    @*<input id="Button1" type="button" value="未收藏" class="isConllect" />*@
                }
            </td>
        </tr>

    </table>
    <br />    <br />    <br />    <br />

    @foreach (var item in ViewBag.imgs)
    {
        <img src="@item.pictureUrl" alt="" />
    }
    <input id="Button1" type="button" value="添加到购物车"  onclick="joinshopCar(@ViewBag.goods.id)"/>
</body>
</html>
<script>
        function myfunction() {

    }
     //加入购物车
    function joinshopCar(goodsId) {
        alert(11)
        alert(goodsId)
        var date = {
            "id": 0,
            "goodsId": goodsId,
            "usersId": 1
        };
        var val = JSON.stringify(date);
        $.ajax({
            url: 'http://localhost:50169/api/Collection/InsertShopCart',
            data: val,
            type: "post",
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                if (data > 0) {
                    alert("添加购物车成功");
                }
                else {
                    alert("添加购物车失败");
                }
            }
        })
    }
    $(function () {
        $(".isConllect").click(function () {
            fun(1,@ViewBag.goods.id);
        })
    })
    function fun(userId, goodsId) {
        $.ajax({
            type: "get",
            url: 'http://localhost:50169/api/Goodscollect/SetCollect',
            data: { userId: userId, goodsId: goodsId},
            success: function (result) {
                alert(result)
                if (result == 1) {
                    $(".isConllect").attr("src","/images/xin1.png");
                }
                else if (result == 2) {
                      $(".isConllect").attr("src","/images/xin2.png");
                }
                else {
                    alert(11)
                }
            }
        })
    }
</script>